<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Python Online</title>
  </head>
  <body style="background-color:#010c19;">
    <div class="container-full">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="#">Python Online</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
                </div>
            </div>
    </nav>
    </div>
    <div class="mx-auto m-4 pb-5 w-75">
      <div class="shadow p-2 mb-8 rounded" style="background-color:#031732;">
        <form action = {{result.env}} method = "post">
            <div class="form-group">
                    <label for="exampleFormControlTextarea1" style="color:#ffe600;">Code:</label>
                    <textarea class="form-control" name="pycode" id="exampleFormControlTextarea1" rows="10" style="background-color:#04234a;color:#FFFFFF;">{{result.code}}</textarea>
             </div>
             <button type="submit" class="btn btn-primary">Run</button>
             <br><hr>
             <div class="form-group">
              <label for="exampleFormControlTextareaOutput" style="color:#FFe600;">Output:</label>
              <textarea class="form-control" name="pycodeoutput" id="exampleFormControlTextarea1" rows="10" style="background-color:#04234a;color:#FFFFFF;">{{ result.codeoutput}}</textarea>
            </div>
        </form>
      </div>
    </div>
    <div class="col">
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
