GoogleNews
Pillow
PyQRCode
PyQt6
PyQt6_sip
Requests
black
colourlovers
deepl
flask
jupyter
jupyter-archive
jupyter-book
jupyterlab
languagemodels
matplotlib
newspaper4k
numpy
pandas
pickle
seaborn
spacy
streamlit
wikipedia
wordcloud
yfinance
