GoogleNews
Pillow
PyQt6
PyQt6_sip
black
colourlovers
deepl
flask
jupyter
jupyter-archive
jupyter-book
jupyterlab
languagemodels
matplotlib
newspaper4k
numpy
pandas
seaborn
spacy
streamlit
wikipedia
wordcloud
yfinance
segno
qrcode-artistic
dnspython
ip2geotools
Requests
pickle5
pygame
simpleaudio
